*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
}

nav {
  display: flex;
  
  ul.menu {
    display: flex;
  }

  .profile-photo {
    width: 50px;
  }
}

main {
  display: flex;
  justify-content: center;
}

.slider-container {
  position: relative;
  width: 1920px;
  height: 310.8px;
  overflow: hidden;
}

.slider-content {
  position: absolute;
}

.movie-description {
  color: #fff;
}

.movie {
  &-review {

    .star {
      margin-left: 10px;
      width: 20px;
      height: 20px;
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 
        79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
      background: linear-gradient(
        90deg, #ffc107 0%, rgba(179, 179, 179, 0.3)0%);
      }
  }
}

.slider-img {
  transform: translate(0%, -30%);
  width: 100%;
  z-index: -2;
  transition: 1.5s cubic-bezier(1, 0, 0.14, 1);
}

.slider-imgs {
  display: flex;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
  }
}

.slider-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 10px;
}

.slider-btn {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  &:hover {
    background-color: #fff;
    transform: scale(1.2);
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-left: 10px;
  }
}